
  .header {
}
.body {
    background-image: radial-gradient(circle, #f9dcf0, #fdfcfc);
    text-align: center;
    background-size: cover;
}
	
     h1 {
        font-family: monospace; 
        font-style: oblique;
        color: #e6be9b;
      }
      h2 {
        font-family: monospace; 
        font-style: oblique;
        color: #e6be9b;
      }

      p {
         font-family: monospace; 
         font-size: 20px;
         font-style: oblique;
         color: #e6be9b;
      }
      
      a {
         font-family: monospace;
         font-size: 20px;
         font-style: oblique;
         color: #e6be9b; 
}

      alt {
         font-family: monospace; 
         font-size: 10px;
         font-style: oblique;
         color: #f9dcf0; 
}

/* This is the navbar */

.navbar a {
    background-color: white;
    overflow: hidden; 
    padding: 20;
}

.navbar a:hover {
    background-color: lightyellow;
}